{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home Page{% endblock %}</title>
    {% block links %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
</head>
<body>
    {% block header %}
    <div class="header-frame">
        <div class="header-inner">
            <div class="logo-image">
                <a href="{% url 'messenger_page' %}">
                    <img src="{% static 'images/logo.svg' %}" alt="Logo image">
                </a>
            </div>
            <div class="header-icons-nav-frame">
                <div class="header-icons">
                    <a href="{% url 'messenger_page' %}">
                        <div class="main-frame {% if current_page == 'messenger' %}active{% endif %}">
                            <img src="{% static 'images/House.svg' %}" alt="Main logo">
                            <p>Головна</p>
                        </div>
                    </a>
                    <a href="{% url 'posts_page' %}">
                        <div class="my-posts-frame {% if current_page == 'posts' %}active{% endif %}">
                            <img src="{% static 'images/posts.svg' %}" alt="Posts logo">
                            <p>Мої публікації</p>
                        </div>
                    </a>
                    <a href="{% url 'friends' %}">
                        <div class="friends-frame {% if current_page == 'friends' %}active{% endif %}">
                            <img src="{% static 'images/friends.svg' %}" alt="Friends logo">
                            <p>Друзі</p>
                        </div>
                    </a>
                    <a href="{% url 'chats' %}">
                        <div class="chats-frame {% if current_page == 'chats' %}active{% endif %}">
                            <img src="{% static 'images/chat.svg' %}" alt="Chats logo">
                            <p>Чати</p>
                        </div>
                    </a>
                    <a href="{% url 'settings' %}">
                        <div class="settings-frame {% if current_page == 'settings' %}active{% endif %}">
                            <img src="{% static 'images/Setting.svg' %}" alt="Settings logo">
                            <p>Налаштування</p>
                        </div>
                    </a>
                </div>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-frame">
                        <img class="exit-btn-img" src="{% static 'images/exit.svg' %}" alt="Exit icon">
                        <span class="logout-text">Вихід</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>

    {% block scripts %}
    {% endblock %}
</body>
</html>
